/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 17/03/2020, 09:49:36 PM
    Author     : itzel
*/
body{
    margin: 0;
    font-family: 'Fredoka One';
    font-size: large;

}

header{
    width: 100%;

}
.navbarShidori{
    position:absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;


}
ul, ol{
    list-style: none;
    /*background-color: peachpuff;
    width: 100vw;*/
}
#icon-menu{
    display: none;
}

#icnlabel{
    display: none;
    padding: 10px;
    position: absolute;

}
#icnlabel2{
    display: none;
    padding: 10px;
    position: relative;

}
#icnlabel:hover{
    cursor: pointer;

}

.navbarShidori > ul{
    margin:0px;
    padding:0px;
    display: flex;
    justify-content: center;

}

.navbarShidori a{
    display: block;
    color: white; 
    padding: 10px 20px; 
    text-decoration: none;

}
.containerBuscar{
    background: #ffe358;
    padding:0;
    border-radius: 10px;
    display: flex;
    position:absolute;
    left: -260%;
}

.loginform{
    background: #bdf3ec;
    padding:15px;
    border-radius: 10px;
    display: flex;
    position:absolute;
    right: -15px;
}

#loginform2{
    text-align: center;
    align-content: center;
    width: 200px;
    height: 230px;
    right:-20px!important;
}
#containerCuenta{
    display:block;
    position: relative;
    flex-direction:column;
     text-align: center;
    align-content: center;
    
}
#listaU{
    display:block;
    position:relative;
    margin-bottom: 10px;
}
#listaU li a:hover{
    color:#39d4c5;
}
#user, #pass{
    font-family: Karla;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    color:gray;
    border:0;
    outline: none;
    width: 300px;
    margin: 10px 0px 0px 0px;
}
#btnInicioSesion{
    background-color: #39d4c5!important;
    border-color: #39d4c5;

}
.textoR{
    margin: 10px;
    text-align: center;
    font-size: small;
}
.textoC{
    margin: 10px;
    font-family: karla;
    font-size: small;
    color: #309d93;
}
#linkR{
    color: #309d93!important;
    display:inline; 
}
#linkR:hover{
    color:white!important;
}
#lebelR{
    color:#309d93;
    text-align: center;
}
#CheckR{
    vertical-align:middle!important;
}
#lebelC{
    vertical-align:middle!important; 
    margin-bottom:0px!important;
}
#inputBuscar{
    font-family: Karla;
    background: white;
    padding: 10px;
    border-radius: 10px;
    color:gray;
    border:0;
    outline: none;
    width: 400px;
    margin: 10px 0px 10px 10px;
}

#inputBuscarButton{
    width: 40px;
    height: 40px;
    margin: 15px 10px 10px 10px;
    outline: none;
}
#inputBuscarButton:active{
    vertical-align: top;
    padding: 2px 2px 2px;
}
#inputBuscar:focus{
    background:#fff99d;
}

#user:focus, #pass:focus{
    background-color: #e8fcff;
    display: block;
}

@media(max-width:768px){

    #containerCuenta{
        padding-top:50px;
        text-align: center;
    }
    #icnlabel {
        display:block;
        position:fixed;
        z-index:9999;
    }
    #icnlabel2{
        display: block;

    }
    #flecha-menu{
        text-align: right;
    }
    .navbarShidori{
        position: fixed;
        width:50%;
        margin-left:-50%;
        margin-top: 0px;
        transition: all 0.5s;
        z-index:9999;
        background-color: #81ebf1;
    }

    .navbarShidori ul{
        flex-direction:column;
    }
    #navUL{
        vertical-align: middle!important;
    }
    /*.navbarShidori li{
        background: #68c3c37d;
        border-top: 1px solid white;

    }*/

    #icon-menu:checked ~ .navbarShidori{
        margin-left:0px;
        width: 50%;
    }  
    .navbarShidori a:hover{
        background: #ffaea0;
        text-decoration: none;
    }
    .navbarShidori li ul   {
        position:relative;
        padding: 0px;

    }
    /* .navbarShidori li ul li{

       background: #7667b3b8;
   }
 .navbarShidori li ul li a:hover{
       background: #c98dfb;

       text-decoration: none;

   }*/

    .containerBuscar{

        position: relative;
        float:left;
        left: 0px;   
        width: 100%;
        background-color: transparent;


    }
    #inputBuscar{
        background-color: buttonface;
    }


    .loginform {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: rgba(59,90,86,0.8);
        z-index: 99999;
        opacity:0;
        -webkit-transition: opacity 400ms ease-in;
        -moz-transition: opacity 400ms ease-in;
        transition: opacity 400ms ease-in;
        pointer-events: none;
        border-radius: 0;
    }
    .loginform:target {
        opacity:1;
        pointer-events: auto;
    }
    .loginform > form  {
        width: 100%;
        position: relative;
        margin: 10% auto;
        padding: 50px;
        border-radius: 10px;
        background: #bdf3ec;
        -webkit-transition: opacity 400ms ease-in;
        -moz-transition: opacity 400ms ease-in;
        transition: opacity 400ms ease-in;
    }
    .loginform>ul{
        width: 100%;
        position: relative;
        margin: 10% auto;
        padding: 50px;
        border-radius: 10px;
        background: #bdf3ec;
        -webkit-transition: opacity 400ms ease-in;
        -moz-transition: opacity 400ms ease-in;
        transition: opacity 400ms ease-in;
        text-align: center;
        height: 50%;
    }
    .cerrar {
        background: #219e92;
        color: #FFFFFF;
        line-height: 25px;
        position: absolute;
        right:0px;
        top:0px;
        width: 20px;
        text-decoration: none;
        font-weight: bold;
        border-radius: 0px 5px 0px 5px;
        opacity:1;
        text-align: center!important;
        padding-left:  20px!important;
        padding-right: 30px!important;

    }
    .cerrar:hover { background-color: gray; }
    #user, #pass{
        width:100%
    }

    #inputBuscar{
        width: 100%;
        height: 30%;
    }
    #inputBuscarButton{
        margin-top: 10px ;
    }

}

@media  (min-width: 768px){
    .cerrar{
        display:none!important;
    }
    .navbarShidori li ul {
        display:none;
        padding: 0px;
        position:absolute;
        min-width: 140px;

    }

    .navbarShidori li:hover > ul{
        display:block;
    }
    .navbarShidoriItem1:hover{
        color: #309d93; 
        border-bottom: 3px solid #309d93;
        /*text-shadow: 2px 2px #ffaea0;*/
        text-decoration: none;
    }
    .navbarShidoriItem2:hover{
        color: #75bfcf; 
        border-bottom: 3px solid #75bfcf;
        /*text-shadow: 2px 2px #ffaea0;*/
        text-decoration: none;

    }
    .containerCategorias{
        background: #94e3dd;

        border-radius:10px;
    }
    .navbarShidoriItem3:hover{
        color: #aaffa6; 
        border-bottom: 3px solid #aaffa6;
        /*text-shadow: 2px 2px #ffaea0;*/
        text-decoration: none;
    }
    .navbarShidoriItem4:hover{
        color: #ef9f0e; 
        border-bottom: 3px solid #ef9f0e;
        /*text-shadow: 2px 2px #ffaea0;*/
        text-decoration: none;
    }
    .navbarShidoriItem5:hover{
        color: #a65548; 
        border-bottom: 3px solid #a65548;
        /*text-shadow: 2px 2px #ffaea0;*/
        text-decoration: none;
    }
    .navbarShidori li ul li #linkC:hover{
        background: #ffaea0;
        text-decoration: none;
        border-top: 3px solid white;
        border-bottom:  3px solid white;
    }

    .navbarShidori li ul li #linkC{


        border-top: 1px solid white;
    }
}
